<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.title }}</title>
        <meta name="author" content="{{ site.author }}">
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta name="copyright" content="Copyright &copy; {{ site.copyright_year }} by {{ site.author }}. All Rights Reserved.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/vendor/normalize/3.0.0/css/normalize.css">
        <link rel="stylesheet" href="/vendor/foundation/5.2.1/css/foundation.css">
        <link rel="stylesheet" href="/css/app.css">
        <script src="/vendor/modernizr/2.7.2/js/modernizr.js"></script>
    </head>
    <body class="{{ page.topic }}">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name"><h1><a href="/">{{ site.title }}</a></h1></li>
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">
                    <li class="divider"></li>
                    <li class="has-dropdown">
                        <a href="#">Guides</a>
                        <ul class="dropdown">
                            <li class="topic api"><a href="/api/guides/">eBay API</a></li>
                            <li class="topic developers"><a href="/developers/guides/">Developers Program</a></li>
                            <li class="topic sdk"><a href="/sdk/guides/">SDK for PHP</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/about/">About</a></li>
                </ul>
            </section>
        </nav>
        {{ content }}
        <script src="/vendor/jquery/2.1.0/js/jquery.js"></script>
        <script src="/vendor/foundation/5.2.1/js/foundation.js"></script>
        <script src="/vendor/foundation/5.2.1/js/foundation.topbar.js"></script>
        <script>$(document).foundation();</script>
    </body>
</html>
