<select id="site-picker">
    <option value='0'>United States (0)</option>
    <option value='2'>Canada (English) (2)</option>
    <option value='3'>UK (3)</option>
    <option value='15'>Australia (15)</option>
    <option value='16'>Austria (16)</option>
    <option value='23'>Belgium (French) (23)</option>
    <option value='71'>France (71)</option>
    <option value='77'>Germany (77)</option>
    <option value='100'>Motors (100)</option>
    <option value='101'>Italy (101)</option>
    <option value='123'>Belgium (Dutch) (123)</option>
    <option value='146'>Netherlands (146)</option>
    <option value='186'>Spain (186)</option>
    <option value='193'>Switzerland (193)</option>
    <option value='201'>Hong Kong (201)</option>
    <option value='203'>India (203)</option>
    <option value='205'>Ireland (205)</option>
    <option value='207'>Malaysia (207)</option>
    <option value='210'>Canada (French) (210)</option>
    <option value='211'>Philippones (211)</option>
    <option value='212'>Poland (212)</option>
    <option value='216'>Singapore (216)</option>
</select>
