body, h1, h2, h3, h4, h5, h6  {
  font-family: "Noto Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.small-block-grid-1.medium-block-grid-3 > li {
  padding: 0.5em;
}

.small-block-grid-1.medium-block-grid-3 > li.topic {
  font-weight: bold;
}

.small-block-grid-1.medium-block-grid-3 a {
  display: block;
  text-align: center;
}
