body, h1, h2, h3, h4, h5, h6  {
  font-family: "Noto Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

body {
  background-color: #FBFBFB;
}

.top-bar {
  background-image: url("/img/logo_24x24.png");
  background-position: 15px 50%;
  background-size: 24px;
  background-repeat: no-repeat;
}

.top-bar .name h1 a {
  padding-left: 44px;
}

.dropdown li.topic.blog a:not(.button) {
  color: #8F9D6A;
}

.dropdown li.topic.developers a:not(.button) {
  color: #E9C062;
}

.dropdown li.topic.sdk a:not(.button) {
  color: #7587A6;
}

.small-block-grid-1.medium-block-grid-3 {
  margin-right: 0;
}

.small-block-grid-1.medium-block-grid-3 li {
  padding: 0.5em;
  font-weight: bold;
}

.small-block-grid-1.medium-block-grid-3 a {
  display: block;
  text-align: center;
  color: #FFFFFF;
}

.small-block-grid-1.medium-block-grid-3 li {
  box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.1) inset;
}

.small-block-grid-1.medium-block-grid-3 li.blog {
  background-color: #8F9D6A;
}

.small-block-grid-1.medium-block-grid-3 li.blog:hover {
  background-color: #6E7659;
}

.small-block-grid-1.medium-block-grid-3 li.developers {
  background-color: #E9C062;
}

.small-block-grid-1.medium-block-grid-3 li.developers:hover {
  background-color: #AF9863;
}

.small-block-grid-1.medium-block-grid-3 li.sdk {
  background-color: #7587A6;
}

.small-block-grid-1.medium-block-grid-3 li.sdk:hover {
  background-color: #616B7D;
}

.topic-hdr {
  padding: 1em 15px;
}

.topic-hdr h2 {
  margin: 0;
  font-size: 1.5em;
}

.topic-hdr a {
  display: block;
}

.topic-hdr a {
  color: #FFFFFF;
}

body.blog .topic-hdr {
  background-color: #8F9D6A;
}

body.developers .topic-hdr {
  background-color: #E9C062;
}

body.sdk .topic-hdr {
  background-color: #7587A6;
}

article h1 {
  font-weight: 700;
}

article h2 {
  padding-bottom: 0.25em;
  font-size: 2em;
  font-weight: 700;
}

body.blog article h2 {
  border-bottom: 1px solid #8F9D6A;
}

body.developers article h2 {
  border-bottom: 1px solid #E9C062;
}

body.sdk article h2 {
  border-bottom: 1px solid #7587A6;
}

body.blog article .pubdate {
  color: #8F9D6A;
}

article header {
  position: relative;
}

body.blog .social-btn a {
  border: 1px solid #8F9D6A;
  color: #8F9D6A;
}

body.developers .social-btn a {
  border: 1px solid #E9C062;
  color: #E9C062;
}

body.sdk .social-btn a {
  border: 1px solid #7587A6;
  color: #7587A6;
}

.hero {
  padding-top: 24px;
  padding-bottom: 24px;
}

footer {
  padding: 24px 0 10px;
  background-color: #222222;
}

footer,
footer a {
  color: #666666;
}

footer a:hover {
  color: #777777;
}

.highlight {
  margin-bottom: 1.25rem;
}

pre {
  padding: 0.5em;
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

code {
  color: inherit;
  font-weight: normal;
}

.social-btn a {
  line-height: 45px;
  padding: 0 15px;
}

.author-meta img {
  margin-right: 8px;
  width: 72px;
  border-radius: 50%;
}

body.blog button,
body.blog .button {
  background-color: #8F9D6A;
}

body.blog button:hover,
body.blog button:focus, 
body.blog .button:hover, 
body.blog .button:focus {
  background-color: #6E7659; 
}

body.blog article a:not(.button) {
  color: #8F9D6A;
}

body.blog article a:hover:not(.button),
body.blog article a:focus:not(.button) {
  color: #6E7659; 
}

body.developers button,
body.developers .button {
  background-color: #E9C062;
}

body.developers button:hover,
body.developers button:focus, 
body.developers .button:hover, 
body.developers .button:focus {
  background-color: #AF9863; 
}

body.developers article a:not(.button) {
  color: #E9C062;
}

body.developers article a:hover:not(.button),
body.developers article a:focus:not(.button) {
  color: #AF9863; 
}

body.sdk button,
body.sdk .button {
  background-color: #7587A6;
}

body.sdk button:hover,
body.sdk button:focus, 
body.sdk .button:hover, 
body.sdk .button:focus {
  background-color: #616B7D; 
}

body.sdk article a:not(.button) {
  color: #7587A6;
}

body.sdk article a:hover:not(.button),
body.sdk article a:focus:not(.button) {
  color: #616B7D; 
}

@media only screen and (min-width: 40.063em) {
  article h1 {
    display: block;
    padding-right: 64px;
  }

  .social-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}
