body, h1, h2, h3, h4, h5, h6  {
  font-family: "Noto Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.dropdown li.topic.api a {
  color: #D94222;
}

.dropdown li.topic.developers a {
  color: #FFA500;
}

.dropdown li.topic.sdk a {
  color: #0776A0;
}

.small-block-grid-1.medium-block-grid-3 li {
  padding: 0.5em;
  font-weight: bold;
}

.small-block-grid-1.medium-block-grid-3 a {
  display: block;
  text-align: center;
  color: #FFFFFF;
}

.small-block-grid-1.medium-block-grid-3 li {
  box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.1) inset;
}

.small-block-grid-1.medium-block-grid-3 li.api {
  background-color: #D94222;
}

.small-block-grid-1.medium-block-grid-3 li.api:hover {
  background-color: #CC3515;
}

.small-block-grid-1.medium-block-grid-3 li.developers {
  background-color: #FFA500;
}

.small-block-grid-1.medium-block-grid-3 li.developers:hover {
  background-color: #E59400;
}

.small-block-grid-1.medium-block-grid-3 li.sdk {
  background-color: #0776A0;
}

.small-block-grid-1.medium-block-grid-3 li.sdk:hover {
  background-color: #056387;
}

.topic-hdr {
  padding: 1em 15px;
}

.topic-hdr h2 {
  margin: 0;
  font-size: 1.5em;
}

.topic-hdr a {
  color: #FFFFFF;
}

body.api .topic-hdr {
  background-color: #D94222;
}

body.developers .topic-hdr {
  background-color: #FFA500;
}

body.sdk .topic-hdr {
  background-color: #0776A0;
}

article h1 {
  font-weight: 700;
}

article h2 {
  padding-bottom: 0.25em;
  font-size: 2em;
  font-weight: 700;
}

body.api article h2 {
  border-bottom: 1px solid #D94222;
}

body.developers article h2 {
  border-bottom: 1px solid #FFA500;
}

body.sdk article h2 {
  border-bottom: 1px solid #0776A0;
}
