---
layout: site
topic: developers
topicHdr: Developer Tools
---
<main role="main">
    <header class="topic-hdr" role="banner">
        <h2><a href="/{{ page.topic }}/tools/">{{ page.topicHdr }}</a></h2>
    </header>
    <div class="row">
        <div class="small-12 columns">
            <article>
                <header>
                    <h1>{{ page.title }}</h1>
                    <p class="social-btn">
                        <a href="https://twitter.com/share?text={{ page.title | cgi_escape }}&amp;via=devbaydotnet" rel="nofollow" target="_blank"><i class="fa fa-twitter fa-fx fa-1x"></i> Tweet</a>
                    </p>
                </header>
                <section>
                    {{ content }}
                </section>
                {% if page.comments and site.disqus_shortname %}
                <aside>
                    <div id="disqus_thread"></div>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </aside>
                {% endif %}
            </article>
        </div>
    </div>
</main>
